<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Mark</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/@fortawesome/fontawesome-free/css/fontawesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">Directory</span>
                    <input type="text" class="form-control" placeholder="/path/to/datas" id="directory-input">
                    <a class="input-group-addon btn btn-default" href="javascript:;">Scan</a>
                </div>
                <div id="scan-result"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">Plates</span>
                    <input type="text" class="form-control" placeholder="G4,G5,G6,H4,..." id="plates-input">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-4 col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">From</span>
                    <input type="text" class="form-control" placeholder="0" id="from-input">
                    <span class="input-group-addon">To</span>
                    <input type="text" class="form-control" placeholder="Inf" id="to-input">
                </div>
            </div>
            <div class="col-xs-2 col-md-offset-6 col-xs-offset-4">
                <a class="form-control btn btn-primary" href="javascript:;">Setup</a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
</html>