{% extends "layout.html" %}

{% block title %}
Data Mark - Install
{% endblock %}

{% block main %}
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">Directory</span>
            <input type="text" class="form-control" placeholder="/path/to/datas" id="directory-input" v-model="form.directory">
            <a class="input-group-addon btn btn-default" href="javascript:;">Scan</a>
        </div>
        <div id="scan-result"></div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon">Plates</span>
            <input type="text" class="form-control" placeholder="G4,G5,G6,H4,..." id="plates-input" v-model="form.plates">
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-xs-6">
        <div class="input-group">
            <span class="input-group-addon">From</span>
            <input type="text" class="form-control" placeholder="0" id="from-input" v-model="form.from">
            <span class="input-group-addon">To</span>
            <input type="text" class="form-control" placeholder="Inf" id="to-input" v-model="form.to">
        </div>
    </div>
    <div class="col-xs-2 col-md-offset-6 col-xs-offset-4">
        <a class="form-control btn btn-primary" href="javascript:;" v-on:click="setup">Setup</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var vue = new Vue({
    el: "#app",
    data: {
        form: {
            directory: "",
            plates: "",
            from: "",
            to: ""
        }
    },
    methods: {
        setup: function () {
            status_loading(true);
            setTimeout(function() {
                status_loading(false);
            }, 1000);
        }
    },
    created: function () {
        status_loading(false);
    }
});
</script>
{% endblock %}
