{% extends "layout.html" %}

{% block title %}
Data Mark
{% endblock %}

{% block stylesheets %}
<style type="text/css">
.mode-bar-wrapper {
    text-align: right;
}
.mode-bar {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 0;
}
.mode-bar .mode-item {
    font-size: 14px;
    display: inline-block;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #666666;
    color: white;
    margin-left: 2px;
    user-select: none;
    padding: 0 10px;
    cursor: pointer;
}
.mode-bar .mode-item:first-child {
    margin-left: 0;
    border-radius: 5px 0 0 5px;
}
.mode-bar .mode-item:last-child {
    border-radius: 0 5px 5px 0;
}
.mode-bar .mode-item:hover {
    background-color: #999999;
}
/*.mode-bar .mode-item.active {
    background-color: #00cc33;
}
.mode-bar .mode-item.active:hover {
    background-color: #33dd66;
}*/
.mode-bar .mode-item.active {
    position: relative;
    top: -2px;
}
.mode-bar .mode-item.mode-item-colored {
    text-shadow: 0 0 1px white;
}
.mode-bar .mode-item.mode-item-colored .plain-text {
    text-shadow: none;
    color: #cccccc;
    font-size: 12px;
}

.image-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: black;
    position: relative;
    user-select: none;
}
.image-wrapper.zoomout {
    cursor: url("/static/images/icon-zoom-out.png"), default;
}
.image-wrapper.zoomin {
    cursor: url("/static/images/icon-zoom-in.png"), default;
}
.image-wrapper.pan {
    cursor: move;
}
.image-wrapper.marking.mark_select {
    cursor: default;
}
.image-wrapper.marking.mark_place {
    cursor: none;
}
.image-wrapper img,
.image-wrapper .framebox {
    position: absolute;
    user-select: none;
}
.image-wrapper .framebox {
    border: 1px black solid;
    background-color: transparent;
}
.image-wrapper .framebox.zoomin {
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    box-shadow: 0 0 1px 0 white;
}
.image-wrapper .framebox.mark {
    border-width: 2px;
    border-color: #993333;
    box-shadow: 0 0 5px -1px white;
}
.image-wrapper .framebox.mark.highlight {
    box-shadow: 0 0 5px 3px white;
}

.searchbar-trigger {
    height: 30px;
    line-height: 30px;
}
.searchbar {
    position: relative;
    height: 30px;
    overflow: visible;
}
.searchbar .searchbox {
    height: 100%;
}
.searchbar .searchlist {
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 32px;
    box-shadow: 0 0 10px -5px black;
}
.searchbar .searchlist .searchlist-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bar-collapse-button-wrapper {
    height: 0;
    overflow: visible;
    position: relative;
}
.bar-collapse-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 20px;
    left: 50%;
    margin-left: -30px;
    line-height: 20px;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
    color: #999;
    text-align: center;
}
.bar-collapse-button:hover {
    background-color: #cccccc99;
}
.bar-collapse-button.uncollapse {
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bar-collapse-button.collapse {
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
</style>
{% endblock %}

{% block main %}
{% include "authbar.html" %}
{% verbatim %}
<div class="row" id="progressbar-container" style="margin-top: 20px">
    <div class="col-sm-2">
        <span>Dataset: </span>
        <b>{{ setname }}</b>
    </div>
    <div class="col-sm-8">
        <div class="progress">
            <div class="progress-bar" role="progressbar" v-bind:style="{width: percent(statistics.marked, statistics.total)}">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <span>
            <span>{{ statistics.marked }}</span>
            <span>of</span>
            <span>{{ statistics.total }}</span>
            <span>marked</span>
        </span>
    </div>
</div>
<div class="bar-collapse-button-wrapper">
    <div class="bar-collapse-button uncollapse" id="bar-uncollapse-button" v-on:click="uncollapseBar"><span class="fa fa-angle-double-down"></span></div>
    <div class="bar-collapse-button collapse" id="bar-collapse-button" v-on:click="collapseBar"><span class="fa fa-angle-double-up"></div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-sm-4">
        <div class="searchbar-trigger" v-show="!searchbar.searching" v-on:click="showSearchbar">{{ sample.title }}</div>
        <div class="searchbar" v-show="searchbar.searching">
            <input type="text" class="form-control searchbox" id="searchbox" placeholder="e.g. G4 2018-09-16 13:50:12" v-model="searchbar.string" v-on:keyup="doSearch">
            <div class="list-group searchlist" v-show="searchbar.result">
                <a v-for="item in searchbar.result" class="list-group-item searchlist-item" v-on:click.stop="loadSample(item.sampleid)" href="javascript:;">{{ item.title }}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="btn-group" v-if="!reviewing.reviewing && rank">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{ rank.name }}</span><span>&nbsp;</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a v-for="item in rankitems" href="javascript:;" v-on:click="changeRank(item.value)">{{ item.name }}</a></li>
            </ul>
        </div>
        <div class="btn-group" v-if="reviewing.reviewing">
            <button type="button" class="btn btn-default" v-on:click="navSample(-100)"><i class="fa fa-angle-double-left"></i></button>
            <button type="button" class="btn btn-default" v-on:click="navSample(-1)"><i class="fa fa-angle-left"></i></button>
            <button type="button" class="btn btn-default" v-on:click="navSample(+1)"><i class="fa fa-angle-right"></i></button>
            <button type="button" class="btn btn-default" v-on:click="navSample(+100)"><i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
    <div class="col-sm-6 mode-bar-wrapper">
        <div class="mode-bar">
            <span class="mode-item" v-on:click="toggleMode('zoomin')"  v-bind:class="{ active: (viewer.mode == 'zoomin') }"  ><i class="fa fa-search-plus"></i></span>
            <span class="mode-item" v-on:click="toggleMode('zoomout')" v-bind:class="{ active: (viewer.mode == 'zoomout') }" ><i class="fa fa-search-minus"></i></span>
            <span class="mode-item" v-on:click="toggleMode('pan')"     v-bind:class="{ active: (viewer.mode == 'pan') }"     ><i class="fa fa-arrows-alt"></i></span>
            <span class="mode-item" v-on:click="toggleMode('mark')"    v-bind:class="{ active: (viewer.mode == 'mark') }"    ><i class="fa fa-marker"></i></span>
        </div>
        <div class="mode-bar" v-show="viewer.mode == 'mark'" style="margin-left: 20px;">
            <!-- followings are the mark mode selections -->
            <span class="mode-item mode-item-colored"
                data-toggle="tooltip" data-placement="bottom" title="Worm"
                v-on:click="toggleMarkMode('target')"
                v-bind:class="{ active: (viewer.markmode == 'target') }">
                <span style="color: #3399FF">W</span>
                <span class="plain-text" v-show='sample.markcounts["target"]'>&nbsp;({{sample.markcounts["target"]}})</span>
            </span>
            <span class="mode-item mode-item-colored"
                data-toggle="tooltip" data-placement="bottom" title="False"
                v-on:click="toggleMarkMode('mistake')"
                v-bind:class="{ active: (viewer.markmode == 'mistake') }">
                <span style="color: #FF6666">F</span>
                <span class="plain-text" v-show='sample.markcounts["mistake"]'>&nbsp;({{sample.markcounts["mistake"]}})</span>
            </span>
            <span class="mode-item mode-item-colored"
                data-toggle="tooltip" data-placement="bottom" title="Unknown"
                v-on:click="toggleMarkMode('unknown')"
                v-bind:class="{ active: (viewer.markmode == 'unknown') }">
                <span style="color: #FF66FF">U</span>
                <span class="plain-text" v-show='sample.markcounts["unknown"]'>&nbsp;({{sample.markcounts["unknown"]}})</span>
            </span>
            <span class="mode-item mode-item-colored"
                data-toggle="tooltip" data-placement="bottom" title="Blank"
                v-on:click="toggleMarkMode('blank')"
                v-bind:class="{ active: (viewer.markmode == 'blank') }">
                <span style="color: #FFCC00">B</span>
                <span class="plain-text" v-show='sample.markcounts["blank"]'>&nbsp;({{sample.markcounts["blank"]}})</span>
            </span>
            <span class="mode-item mode-item-colored"
                data-toggle="tooltip" data-placement="bottom" title="Delete"
                v-on:click="toggleMarkMode('delete')"
                v-bind:class="{ active: (viewer.markmode == 'delete') }">
                <span style="color: #FFFFFF">X</span>
                <span class="plain-text" v-show='sample.markcounts["delete"]'>&nbsp;({{sample.markcounts["delete"]}})</span>
            </span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-sm-12">
        <div id="image-wrapper" class="image-wrapper" v-bind:class="viewerClasses">
            <img id="image" v-bind:src="viewer.imgsrc" v-bind:style="viewerImgStyles" v-on:load="onViewerImageLoad">
            <div class="framebox zoomin" v-show="viewer.zoomframe.show" v-bind:style="viewerZoomFrameStyles"></div>
            <div v-for="markitem in viewerMarks" class="framebox mark" v-bind:style="markitem.styles"></div>
            <div v-show="viewerActiveMark.show" class="framebox mark" v-bind:class="{highlight:viewerActiveMark.highlight}" v-bind:style="viewerActiveMark.styles"></div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-sm-12" style="text-align: right;">
        <a href="javascript:;" class="btn btn-default" v-on:click="resetMarks">Reset</a>
        <a href="javascript:;" class="btn btn-primary" v-on:click="submitImage">Submit</a>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var vue = new Vue({
    el: "#app",
    data: {
        setname: undefined,
        statistics: {
            marked: 0,
            total: 0
        },
        searchbar: {
            searching: false,
            string: "",
            result: [],
            timer: undefined,
            seq: 0
        },
        rankitems: [
            { name: "Ascending",  value: "ascending" },
            { name: "Descending", value: "descending"},
            { name: "Random",     value: "random"}
        ],
        rank: null,
        sample: {
            sampleid: null,
            title: "",
            image: (function () {
                var img = new Image();
                img.onload = function () {
                    vue.viewer.imgsrc = img.src;
                };
                return img;
            })(),
            marks: [],
            originmarks: null,
            activeMark: { type: null, show: false, x: 0, y: 0, width: 0, height: 0 },
            marksize: { width: 0, height: 0 },
            markcounts: { target: 0, mistake: 0, unknown: 0, blank: 0, delete: 0 }
        },
        preload: true,
        preloadsample: {
            valid: false,
            invalid_reason: null,
            loading: false,
            sampleid: null,
            title: "",
            image: (function () {
                var img = new Image();
                img.onload = function () {
                    vue.preloadsample.loading = false;
                };
                return img;
            })(),
            marks: [],
            originmarks: null,
            marksize: { width: 0, height: 0 }
        },
        viewer: {
            el: null,
            img: null,
            imgsrc: "",
            mode: null,
            markmode: null,
            pressed: false,
            pressmoved: false,
            presspos: { x: 0, y: 0 },
            imagerect: { x: 0, y: 0, width: 0, height: 0 },
            imagepresspos: { x: 0, y: 0 },
            zoomframe: { show: false, x: 0, y: 0, width: 0, height: 0 }
        },
        reviewing: {
            reviewing: false,
            sampleids: [],
            currentidx: 0
        }
    },
    methods: {
        percent: function (val, total) {
            return val / total * 100 + "%";
        },
        clearMouse: function () {
            this.viewer.pressed = false;
            this.viewer.pressmoved = false;
            this.viewer.zoomframe.show = false;
        },
        toggleMode: function (modename, force_set) {
            var unset = (typeof force_set === "boolean") ? (!force_set) : (this.viewer.mode == modename);
            if (unset) {
                this.viewer.mode = null;
                this.clearMouse();
            } else {
                this.viewer.mode = modename;
                this.clearMouse();
            }
        },
        toggleMarkMode: function (modename, force_set) {
            var unset = (typeof force_set === "boolean") ? (!force_set) : (this.viewer.markmode == modename);
            if (unset) {
                this.viewer.markmode = null;
                this.clearMouse();
            } else {
                this.viewer.markmode = modename;
                this.clearMouse();
            }
        },
        onViewerImageLoad: function() {
            var that = this;
            that.resetZoom();
            if (!that.reviewing.reviewing && that.preload) {
                that.preloadsample.valid = false;
                that.preloadsample.loading = true;
                $.get(make_url('/api/marking/fetch_sample', {
                        setname: that.setname,
                        rank: that.rank.value
                    }), function(data) {
                    if (data.success) {
                        data = data.data;
                        that.preloadsample.valid = true;
                        that.preloadsample.sampleid = data.sampleid;
                        that.preloadsample.title = data.plate + "   " + data.datetime.replace("T", " ");
                        that.preloadsample.marks = data.marks;
                        that.preloadsample.originmarks = JSON.stringify(data.marks);
                        that.preloadsample.image.src = data.imgsrc;
                        that.preloadsample.marksize = data.marksize;
                    } else {
                        that.preloadsample.valid = false;
                        that.preloadsample.invalid_reason = data.reason;
                        that.preloadsample.loading = false;
                    }
                });
            }
        },
        clickZoom: function (event, options) {
            // clicking zoom in/out
            options = options || {};
            var s = options.s;
            if (s === undefined) s = (this.viewer.mode == "zoomout") ? 0.8 : 1.25;
            var wrapperpos = this.viewer.el.offset();
            var wrapperx = wrapperpos.left - $(window).scrollLeft();
            var wrappery = wrapperpos.top - $(window).scrollTop();
            var mx = event.clientX - wrapperx;
            var my = event.clientY - wrappery;
            var imw = this.viewer.imagerect.width;
            var imh = this.viewer.imagerect.height;
            var imx = this.viewer.imagerect.x;
            var imy = this.viewer.imagerect.y;
            var cw = this.viewer.el.width();
            var ch = this.viewer.el.height();
            var ox = mx - imx;
            var oy = my - imy;
            var nx = mx - ox * s;
            var ny = my - oy * s;
            var nw = imw * s;
            var nh = imh * s;
            if (nw < cw && nh < ch) return this.resetZoom(event);
            if (nw < cw) nx = (cw - nw) / 2;
            if (nh < ch) ny = (ch - nh) / 2;
            this.viewer.imagerect.width = nw;
            this.viewer.imagerect.height = nh;
            this.viewer.imagerect.x = nx;
            this.viewer.imagerect.y = ny;
            return true;
        },
        resetZoom: function (event) {
            // zoom to fit size
            var imw = this.sample.image.width;
            var imh = this.sample.image.height;
            var cw = this.viewer.el.width();
            var ch = this.viewer.el.height();
            var s = Math.min(cw / imw, ch / imh);
            var nw = imw * s;
            var nh = imh * s;
            var nx = (cw - nw) / 2;
            var ny = (ch - nh) / 2;
            this.viewer.imagerect.width = nw;
            this.viewer.imagerect.height = nh;
            this.viewer.imagerect.x = nx;
            this.viewer.imagerect.y = ny;
            return true;
        },
        frameZoom: function (event) {
            // frame zoom in
            var wrapperpos = this.viewer.el.offset();
            var wrapperx = wrapperpos.left - $(window).scrollLeft();
            var wrappery = wrapperpos.top - $(window).scrollTop();
            var cw = this.viewer.el.width();
            var ch = this.viewer.el.height();
            var fx = this.viewer.presspos.x;
            var fy = this.viewer.presspos.y;
            var fw = event.clientX - fx;
            var fh = event.clientY - fy;
            if (fw < 10 || fh < 10) return this.clickZoom(event);
            fx -= wrapperx;
            fy -= wrappery;
            if (fw < 0) { fx = fx + fw; fw = -fw; }
            if (fh < 0) { fy = fy + fh; fh = -fh; }
            var s = Math.max(fw / cw, fh / ch);
            var rfw = cw * s;
            var rfh = ch * s;
            fx -= (rfw - fw) / 2;
            fy -= (rfh - fh) / 2;
            var imw = this.viewer.imagerect.width;
            var imh = this.viewer.imagerect.height;
            var imx = this.viewer.imagerect.x;
            var imy = this.viewer.imagerect.y;
            var cw = this.viewer.el.width();
            var ch = this.viewer.el.height();
            var ox = fx - imx;
            var oy = fy - imy;
            var nw = imw / s;
            var nh = imh / s;
            var nx = - ox / s;
            var ny = - oy / s;
            if (nw < cw && nh < ch) return this.resetZoom(event);
            if (nw < cw) nx = (cw - nw) / 2;
            if (nh < ch) ny = (ch - nh) / 2;
            this.viewer.imagerect.width = nw;
            this.viewer.imagerect.height = nh;
            this.viewer.imagerect.x = nx;
            this.viewer.imagerect.y = ny;
            return true;
        },
        viewerMarkBoxStyles: function (markitem) {
            var s = this.viewer.imagerect.width / this.sample.image.width;
            var imw = this.viewer.imagerect.width;
            var imh = this.viewer.imagerect.height;
            var imx = this.viewer.imagerect.x;
            var imy = this.viewer.imagerect.y;
            var mx = markitem.x * s + imx;
            var my = markitem.y * s + imy;
            var mw = markitem.width * s;
            var mh = markitem.height * s;
            var colorscheme = {
                "target": "#0066FF",
                "mistake": "#FF0000",
                "unknown": "#FF00FF",
                "blank": "#FF9933"
            };
            if (!(markitem.type in colorscheme)) return { "display": "none" };
            return {
                borderColor: colorscheme[markitem.type],
                left: mx + "px",
                top: my + "px",
                width: mw + "px",
                height: mh + "px"
            };
        },
        hoverMark: function (event) {
            // clicking zoom in/out
            var s = this.viewer.imagerect.width / this.sample.image.width;
            var wrapperpos = this.viewer.el.offset();
            var wrapperx = wrapperpos.left - $(window).scrollLeft();
            var wrappery = wrapperpos.top - $(window).scrollTop();
            var mx = event.clientX - wrapperx;
            var my = event.clientY - wrappery;
            var imw = this.viewer.imagerect.width;
            var imh = this.viewer.imagerect.height;
            var imx = this.viewer.imagerect.x;
            var imy = this.viewer.imagerect.y;
            var cw = this.viewer.el.width();
            var ch = this.viewer.el.height();
            var ox = (mx - imx) / s;
            var oy = (my - imy) / s;
            for (var i = this.sample.marks.length - 1; i >= 0; i--) {
                var markitem = this.sample.marks[i];
                if ((!markitem.deleted) && (ox >= markitem.x) && (ox < markitem.x + markitem.width) && (oy >= markitem.y) && (oy < markitem.y + markitem.height))
                    return markitem;
            }
            return null;
        },
        cursorMark: function (event) {
            // clicking zoom in/out
            var s = this.viewer.imagerect.width / this.sample.image.width;
            var wrapperpos = this.viewer.el.offset();
            var wrapperx = wrapperpos.left - $(window).scrollLeft();
            var wrappery = wrapperpos.top - $(window).scrollTop();
            var mx = event.clientX - wrapperx;
            var my = event.clientY - wrappery;
            var imw = this.viewer.imagerect.width;
            var imh = this.viewer.imagerect.height;
            var imx = this.viewer.imagerect.x;
            var imy = this.viewer.imagerect.y;
            var cw = this.viewer.el.width();
            var ch = this.viewer.el.height();
            var ox = (mx - imx) / s;
            var oy = (my - imy) / s;
            if (ox >= this.sample.image.width) return null;
            if (oy >= this.sample.image.height) return null;
            var ow = this.sample.marksize.width;
            var oh = this.sample.marksize.height;
            ox -= ow;
            oy -= oh;
            if (ox < 0) return null;
            if (oy < 0) return null;
            return {
                x: ox,
                y: oy,
                width: ow,
                height: oh
            };
        },
        submitImage: function () {
            var that = this;
            var submitdata = {
                sampleid: that.sample.sampleid,
                marks: that.sample.marks.filter(function(item) {
                    return !item.deleted;
                }).map(function (item) {
                    return {
                        "type": item.type,
                        "rid": item.rid,
                        "x": item.x,
                        "y": item.y,
                        "width": item.width,
                        "height": item.height
                    };
                })
            };
            status_loading(true);
            function test_and_submit() {
                if (that.preloadsample.loading) {
                    setTimeout(test_and_submit, 100);
                } else {
                    $.ajax({
                        url: '/api/marking/complete_sample',
                        type: 'POST',
                        data: JSON.stringify(submitdata),
                    })
                    .done(function() {
                        if (that.reviewing.reviewing) {
                            var nextidx = that.reviewing.currentidx + 1;
                            var sampleids = that.reviewing.sampleids;
                            if (nextidx >= that.reviewing.sampleids.length) {
                                that.sample.title = "";
                                that.sample.marks = [];
                                that.sample.originmarks = "[]";
                                that.sample.image.src = "";
                                that.viewer.imgsrc = "";
                                that.sample.activeMark.show = false;
                                messagebox("Marking", "Cannot load new sample. Because this is the last sample.");
                                status_loading(false);
                            } else {
                                if (!that.navSample(1)) status_loading(false);
                            }
                        } else {
                            that.preload = true;
                            if (that.preloadsample.valid) {
                                that.sample.sampleid    = that.preloadsample.sampleid;
                                that.sample.title       = that.preloadsample.title;
                                that.sample.marks       = that.preloadsample.marks;
                                that.sample.originmarks = that.preloadsample.originmarks;
                                that.sample.image.src   = that.preloadsample.image.src;
                                that.sample.marksize    = that.preloadsample.marksize;
                                that.sample.activeMark.show = false;
                            } else {
                                that.sample.title = "";
                                that.sample.marks = [];
                                that.sample.originmarks = "[]";
                                that.sample.image.src = "";
                                that.viewer.imgsrc = "";
                                that.sample.activeMark.show = false;
                                messagebox("Marking", "Cannot load new sample. Because: " + that.preloadsample.invalid_reason);
                            }
                            that.updateStatistics();
                            status_loading(false);
                        }
                        that.updateCounts();
                    });
                }
            }
            test_and_submit();
        },
        resetMarks: function () {
            this.sample.marks = JSON.parse(this.sample.originmarks)
        },
        updateStatistics: function () {
            var that = this;
            $.get('/api/marking/statistics?setname=' + that.setname, function(data) {
                data = data.data;
                that.statistics.marked = data.marked;
                that.statistics.total = data.total;
            });
        },
        showSearchbar: function () {
            this.searchbar.string = "";
            this.searchbar.result = [];
            this.searchbar.searching = true;
            setTimeout( function() {$("#searchbox").focus();}, 10);
        },
        hideSearchbar: function () {
            this.searchbar.searching = false;
        },
        doSearch: function () {
            var that = this;
            if (that.searchbar.timer !== undefined) {
                clearTimeout(that.searchbar.timer);
                that.searchbar.timer = undefined;
            }
            var searchstring = that.searchbar.string.trim();
            if (searchstring) {
                that.searchbar.timer = setTimeout(function() {
                    that.searchbar.timer = undefined;
                    var url = '/api/marking/search_sample?q=' + escape(searchstring);
                    $.get(url, function(data) {
                        var nowsearchstring = that.searchbar.string.trim();
                        if (nowsearchstring != searchstring) return;
                        data = data.data;
                        that.searchbar.result = data.map(function(item) {
                            return {
                                sampleid: item.sampleid,
                                title: item.plate + " " + item.subdir,
                                href: "/marking?sampleid="
                            };
                        });
                    });
                }, 300);
            } else {
                that.searchbar.result = [];
            }
        },
        loadSample: function (sampleid, callback) {
            var that = this;
            that.hideSearchbar();
            status_loading(true);
            $.get(make_url('/api/marking/fetch_sample', { sampleid: sampleid }), function(data) {
                if (data.success) {
                    data = data.data;
                    that.preload = false;
                    that.sample.sampleid = data.sampleid;
                    that.sample.title = data.plate + "   " + data.datetime.replace("T", " ");
                    that.sample.marks = data.marks;
                    that.sample.originmarks = JSON.stringify(data.marks);
                    that.sample.activeMark.show = false;
                    that.sample.image.src = data.imgsrc;
                    that.sample.marksize = data.marksize;
                    that.updateCounts();
                    if (callback) callback(true);
                } else {
                    messagebox("Marking", "Cannot load this sample. Because: " + data.reason);
                    if (callback) callback(false);
                }
                status_loading(false);
            });
        },
        changeRank: function (rankvalue) {
            if (rankvalue == this.rank) return;
            window.location.href = make_url(window.location.uri, $.extend({}, window.location.query, { rank: rankvalue }));
        },
        navSample: function(direction) {
            var that = this;
            var currentidx = that.reviewing.currentidx;
            var sampleids = that.reviewing.sampleids;
            var newidx = currentidx;
            if (direction == 1) newidx += 1;
            else if (direction == -1) newidx -= 1;
            else if (direction > 1) newidx = sampleids.length - 1;
            else if (direction < -1) newidx = 0;
            if (newidx < 0) newidx = 0;
            if (newidx >= sampleids.length) newidx = sampleids.length - 1;
            if (newidx == currentidx) return false;
            var oldsampleid = sampleids[currentidx];
            that.loadSample(sampleids[newidx], function (ok) {
                if (ok) {
                    that.reviewing.currentidx = newidx;
                    $.ajax({
                        url: make_url("/api/marking/clear_sample_cache", {sampleid: oldsampleid}),
                        type: 'POST'
                    });                    
                }
            });
            return true;
        },
        uncollapseBar: function () {
            $("#authbar-container, #progressbar-container").show();
            $("#bar-uncollapse-button").hide();
            $("#bar-collapse-button").show();
            window.localStorage["barcollapse"] = "uncollapsed";
        },
        collapseBar: function () {
            $("#authbar-container, #progressbar-container").hide();
            $("#bar-uncollapse-button").show();
            $("#bar-collapse-button").hide();
            window.localStorage["barcollapse"] = "collapsed";
        },
        updateCounts: function () {
            var that = this;
            var markcounts = {};
            for (var i = 0; i < that.sample.marks.length; i++) {
                var markitem = that.sample.marks[i];
                markcounts[markitem.type] = (markcounts[markitem.type] || 0) + 1;
            }
            that.sample.markcounts = markcounts;
        }
    },
    computed: {
        viewerClasses: function () {
            var that = this;
            return {
                zoomout: that.viewer.mode == "zoomout",
                zoomin: that.viewer.mode == "zoomin",
                pan: that.viewer.mode == "pan",
                marking: that.viewer.mode == "mark",
                pressed: that.viewer.pressed,
                mark_select: true,
                mark_place: false
            }
        },
        viewerImgStyles: function () {
            var that = this;
            return {
                width: that.viewer.imagerect.width + "px",
                height: that.viewer.imagerect.height + "px",
                left: that.viewer.imagerect.x + "px",
                top: that.viewer.imagerect.y + "px"
            };
        },
        viewerZoomFrameStyles: function () {
            var that = this;
            return {
                width: that.viewer.zoomframe.width + "px",
                height: that.viewer.zoomframe.height + "px",
                left: that.viewer.zoomframe.x + "px",
                top: that.viewer.zoomframe.y + "px"
            };
        },
        viewerMarks: function () {
            var that = this;
            var ret = [];
            for (var i = 0; i < that.sample.marks.length; i++) {
                var markitem = that.sample.marks[i];
                if (!markitem.deleted) {
                    ret.push({
                        index: i,
                        data: markitem,
                        styles: that.viewerMarkBoxStyles(markitem)
                    });
                }
            }
            return ret;
        },
        viewerActiveMark: function () {
            if (this.sample.activeMark.show) {
                return {
                    show: true,
                    data: this.sample.activeMark,
                    highlight: this.viewer.pressed,
                    styles: this.viewerMarkBoxStyles(this.sample.activeMark)
                };
            } else {
                return {
                    show: false
                };
            }
        }
    },
    created: function () {
        var that = this;
        that.setname = window.location.query.setname;
        function get_rank_item(value) {
            for (var i = 0; i < that.rankitems.length; i++) {
                if (that.rankitems[i].value == value) return that.rankitems[i];
            }
            return null;
        }
        var finalpath = window.location.uri.split("/");
        finalpath = finalpath[finalpath.length-1];
        that.rank = get_rank_item(window.location.query.rank || (finalpath == "reviewing" ? "ascending" : "random"));
        that.reviewing.reviewing = (finalpath == "reviewing");
        $(function () {
            that.viewer.el = $('#image-wrapper');
            that.viewer.img = $('#image');
            if (that.sample.image.completed && that.viewer.img.completed) that.resetZoom();
            $(".image-wrapper img").on('mousedown', function(event) {
                event.preventDefault();
            });
            $(".image-wrapper").on('mousedown', function(event) {
                that.viewer.pressed = true;
                that.viewer.pressmoved = false;
                that.viewer.presspos.x = event.clientX;
                that.viewer.presspos.y = event.clientY;
                that.viewer.imagepresspos.x = that.viewer.imagerect.x;
                that.viewer.imagepresspos.y = that.viewer.imagerect.y;
            });
            $(".image-wrapper").on('mousemove', function(event) {
                if (that.viewer.pressed) that.viewer.pressmoved = true;
                if (that.viewer.mode == "pan") {
                    if (that.viewer.pressed) {
                        var d = {};
                        d.x = event.clientX - that.viewer.presspos.x;
                        d.y = event.clientY - that.viewer.presspos.y;
                        that.viewer.imagerect.x = that.viewer.imagepresspos.x + d.x;
                        that.viewer.imagerect.y = that.viewer.imagepresspos.y + d.y;
                    }
                } else if (that.viewer.mode == "zoomin") {
                    if (that.viewer.pressed) {
                        var wrapper = $("#image-wrapper");
                        var wrapperpos = wrapper.offset();
                        var wrapperx = wrapperpos.left - $(window).scrollLeft();
                        var wrappery = wrapperpos.top - $(window).scrollTop();
                        var fx = that.viewer.presspos.x;
                        var fy = that.viewer.presspos.y;
                        var fw = event.clientX - fx;
                        var fh = event.clientY - fy;
                        fx -= wrapperx;
                        fy -= wrappery;
                        if (fw < 0) { fx = fx + fw; fw = -fw; }
                        if (fh < 0) { fy = fy + fh; fh = -fh; }
                        that.viewer.zoomframe.x = fx;
                        that.viewer.zoomframe.y = fy;
                        that.viewer.zoomframe.width = fw;
                        that.viewer.zoomframe.height = fh;
                        that.viewer.zoomframe.show = true;
                    }
                } else if (that.viewer.mode == "mark") {
                    if (["target", "mistake", "unknown", "delete"].indexOf(that.viewer.markmode) >= 0) {
                        var markitem = that.hoverMark(event);
                        if (markitem) {
                            that.sample.activeMark.type = that.viewer.markmode;
                            that.sample.activeMark.x = markitem.x;
                            that.sample.activeMark.y = markitem.y;
                            that.sample.activeMark.width = markitem.width;
                            that.sample.activeMark.height = markitem.height;
                            that.sample.activeMark.show = true;
                        } else {
                            that.sample.activeMark.show = false;
                        }
                    } else if (that.viewer.markmode == "blank") {
                        var markitem = that.cursorMark(event);
                        if (markitem) {
                            that.sample.activeMark.type = that.viewer.markmode;
                            that.sample.activeMark.x = markitem.x;
                            that.sample.activeMark.y = markitem.y;
                            that.sample.activeMark.width = markitem.width;
                            that.sample.activeMark.height = markitem.height;
                            that.sample.activeMark.show = true;
                        } else {
                            that.sample.activeMark.show = false;
                        }
                    }
                }
            });
            $(".image-wrapper").on('mouseout', function(event) {
                that.sample.activeMark.show = false;
            });
            // detect wheel events and zoom
            (function() {
                var timing = 0;
                $(".image-wrapper").on('mousewheel', function(event) {
                    var now = new Date().getTime();
                    if (now - timing > 50) {
                        timing = now;
                        if (that.viewer.mode === "pan") {
                            var s = ((event.originalEvent.wheelDelta > 0) ? 1.5 : 0.67);
                            that.clickZoom(event, {s:s});
                        }
                    }
                });
            })();
            // detect mouse up events and clear the mouse status
            $(document).on('mouseup', function(event) {
                that.clearMouse();
            });
            var clickcount = 0;
            var clicktimer = undefined;
            $(".image-wrapper").on('mouseup', function(event) {
                // ------------------------------
                // remember the click for 800ms (to detect the continuesly clicking)
                clickcount += 1;
                if (clicktimer !== undefined) clearTimeout(clicktimer);
                setTimeout(function () {
                    clickcount = 0;
                }, 500);
                // ------------------------------
                if (that.viewer.mode == "zoomout" && clickcount >= 3) {
                    that.resetZoom(event);
                } else if (that.viewer.mode == "zoomin" && that.viewer.pressmoved) {
                    that.frameZoom(event);
                } else if (that.viewer.mode == "zoomout" || that.viewer.mode == "zoomin") {
                    that.clickZoom(event);
                } else if (that.viewer.mode == "mark") {
                    if (["target", "mistake", "unknown"].indexOf(that.viewer.markmode) >= 0) {
                        var markitem = that.hoverMark(event);
                        if (markitem) {
                            markitem.type = that.viewer.markmode;
                        }
                    } else if (that.viewer.markmode == "blank") {
                        var markitem = that.cursorMark(event);
                        if (markitem) {
                            markitem.type = that.viewer.markmode;
                            markitem.rid = -1;
                            that.sample.marks = [].concat(that.sample.marks, [markitem]);
                        }
                    } else if (that.viewer.markmode == "delete") {
                        var markitem = that.hoverMark(event);
                        if (markitem) markitem.deleted = true;
                    }
                    that.updateCounts();
                }
            });
            // detect shortcut keys
            (function () {
                var keycodes = {};
                for (var i = 65; i <= 90; i++) keycodes[String.fromCharCode(i)] = i;
                var keyupZtimer = undefined;
                var keypressingZ = false;
                // $(window).on("keydown", function(event) {
                //     if (event.keyCode == keycodes.Z) {
                //         if (!keypressingZ) {
                //             keypressingZ = true;
                //             if (keyupZtimer === undefined) {
                //                 that.toggleMode("pan", true);
                //             }
                //         }
                //     }
                // });
                $(window).on("keyup", function(event) {
                    if (event.keyCode == keycodes.Z) {
                        if (keyupZtimer === undefined) {
                            // first press
                            keyupZtimer = setTimeout(function() {
                                keyupZtimer = undefined;
                                keypressingZ = false;
                                that.toggleMode("zoomin", true);
                            }, 200);
                        } else {
                            // second press
                            keypressingZ = false;
                            clearTimeout(keyupZtimer);
                            keyupZtimer = undefined;
                            that.toggleMode("zoomout", true);
                        }
                    } else if (event.keyCode == keycodes.A || event.keyCode == keycodes.Q) {
                        that.toggleMode("pan", true);
                    } else if (event.keyCode == keycodes.W) {
                        that.toggleMode("mark", true);
                        that.toggleMarkMode("target", true);
                    } else if (event.keyCode == keycodes.E || event.keyCode == keycodes.F) {
                        that.toggleMode("mark", true);
                        that.toggleMarkMode("false", true);
                    } else if (event.keyCode == keycodes.R || event.keyCode == keycodes.U) {
                        that.toggleMode("mark", true);
                        that.toggleMarkMode("unknown", true);
                    } else if (event.keyCode == keycodes.T || event.keyCode == keycodes.B) {
                        that.toggleMode("mark", true);
                        that.toggleMarkMode("blank", true);
                    } else if (event.keyCode == keycodes.D || event.keyCode == keycodes.X) {
                        that.toggleMode("mark", true);
                        that.toggleMarkMode("delete", true);
                    }
                });
            })();
            // detect image wrapper resizing and reset the viewer size
            (function () {
                var wrapperEl = $("#image-wrapper");
                var wrapperW = parseInt(wrapperEl.width());
                var wrapperH = parseInt(wrapperEl.height());
                setInterval(function () {
                    var documentH = parseInt($("body").height()) + 20;
                    var windowH = parseInt($(window).height());
                    if (windowH != documentH) wrapperEl.height(wrapperEl.height() + windowH - documentH);
                    var newWrapperW = parseInt(wrapperEl.width());
                    var newWrapperH = parseInt(wrapperEl.height());
                    if (newWrapperH != wrapperH || newWrapperW != wrapperW) {
                        vue.resetZoom();
                        wrapperH = newWrapperH;
                        wrapperW = newWrapperW;
                    }
                }, 100);
            })();
            $(document).on('click', function(event) {
                if ($(event.target).closest('.searchbox,.searchbar-trigger').length == 0) vue.hideSearchbar();
            });
            if (window.localStorage["barcollapse"] == "collapsed") vue.collapseBar();
            else vue.uncollapseBar();
        });
        // this.sample.image.src = "/static/runtime/sample.jpg";
        // status_loading(false);
        $.get('/api/marking/statistics?setname=' + that.setname, function(data) {
            data = data.data;
            that.statistics.marked = data.marked;
            that.statistics.total = data.total;
            $.ajax({
                url: '/api/marking/clear_pendings?setname=' + that.setname,
                type: 'POST'
            })
            .done(function(data) {
                if (that.reviewing.reviewing) {
                    $.get(make_url('/api/marking/sample_list', { setname: that.setname }), function(data) {
                        that.reviewing.sampleids = data.data;
                        that.reviewing.currentidx = 0;
                        $.get(make_url('/api/marking/fetch_sample', { sampleid: that.reviewing.sampleids[that.reviewing.currentidx] }), function(data) {
                            if (data.success) {
                                data = data.data;
                                that.sample.sampleid = data.sampleid;
                                that.sample.title = data.plate + "   " + data.datetime.replace("T", " ");
                                that.sample.marks = data.marks;
                                that.sample.originmarks = JSON.stringify(data.marks);
                                that.sample.activeMark.show = false;
                                that.sample.image.src = data.imgsrc;
                                that.sample.marksize = data.marksize;
                                that.updateCounts();
                            } else {
                                messagebox("Marking", "Cannot load the sample. Because: " + data.reason);
                            }
                            status_loading(false);
                        });
                    });
                } else {
                    $.get(make_url('/api/marking/fetch_sample', {
                            setname: that.setname,
                            rank: that.rank.value
                        }), function(data) {
                        if (data.success) {
                            data = data.data;
                            that.sample.sampleid = data.sampleid;
                            that.sample.title = data.plate + "   " + data.datetime.replace("T", " ");
                            that.sample.marks = data.marks;
                            that.sample.originmarks = JSON.stringify(data.marks);
                            that.sample.activeMark.show = false;
                            that.sample.image.src = data.imgsrc;
                            that.sample.marksize = data.marksize;
                            that.updateCounts();
                        } else {
                            messagebox("Marking", "Cannot load new sample. Because: " + data.reason);
                        }
                        status_loading(false);
                    });
                }
            });
        });
    }
});

$(function () {
    $('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock %}
