{% extends "layout.html" %}

{% block title %}
Data Mark
{% endblock %}

{% block stylesheets %}
<style type="text/css">
.mode-bar-wrapper {
    text-align: right;
}
.mode-bar {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
}
.mode-bar .mode-item {
    font-size: 14px;
    display: inline-block;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #666666;
    color: white;
    margin-left: 2px;
    user-select: none;
    padding: 0 10px;
    cursor: pointer;
}
.mode-bar .mode-item:first-child {
    margin-left: 0;
}
.mode-bar .mode-item:hover {
    background-color: #999999;
}
.mode-bar .mode-item.active {
    background-color: #00cc33;
}
.mode-bar .mode-item.active:hover {
    background-color: #33dd66;
}

.image-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: black;
    position: relative;
    user-select: none;
}
.image-wrapper.zoomout {
    cursor: url("/static/images/icon-zoom-out.png"), default;
}
.image-wrapper.zoomin {
    cursor: url("/static/images/icon-zoom-in.png"), default;
}
.image-wrapper.pan {
    cursor: move;
}
.image-wrapper.marking.mark_select {
    cursor: default;
}
.image-wrapper.marking.mark_place {
    cursor: none;
}
.image-wrapper img,
.image-wrapper .framebox {
    position: absolute;
    user-select: none;
}
.image-wrapper .framebox {
    border: 1px black solid;
}
.image-wrapper .framebox.zoomin {
    border-width: 1px;
    border-color: black;
    border-style: dashed;
    box-shadow: 0 0 1px 0 white;
}
.image-wrapper .framebox.mark {
    border-width: 2px;
    border-color: #993333;
    box-shadow: 0 0 5px -1px white;
}
</style>
{% endblock %}

{% block main %}
{% include "authbar.html" %}
{% verbatim %}
<div class="row" style="margin-top: 20px">
    <div class="col-sm-2">
        <span>Dataset: </span>
        <b>{{ setname }}</b>
    </div>
    <div class="col-sm-8">
        <div class="progress">
            <div class="progress-bar" role="progressbar" v-bind:style="{width: percent(statistics.marked, statistics.total)}">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <span>
            <span>{{ statistics.marked }}</span>
            <span>of</span>
            <span>{{ statistics.total }}</span>
            <span>marked</span>
        </span>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-sm-6">
        <span>{{ sample.title }}</span>
    </div>
    <div class="col-sm-6 mode-bar-wrapper">
        <div class="mode-bar">
            <span class="mode-item" v-on:click="toggleMode('zoomin')"  v-bind:class="{ active: (viewer.mode == 'zoomin') }"  ><i class="fa fa-search-plus"></i></span>
            <span class="mode-item" v-on:click="toggleMode('zoomout')" v-bind:class="{ active: (viewer.mode == 'zoomout') }" ><i class="fa fa-search-minus"></i></span>
            <span class="mode-item" v-on:click="toggleMode('pan')"     v-bind:class="{ active: (viewer.mode == 'pan') }"     ><i class="fa fa-arrows-alt"></i></span>
            <span class="mode-item" v-on:click="toggleMode('mark')"    v-bind:class="{ active: (viewer.mode == 'mark') }"    ><i class="fa fa-marker"></i></span>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-sm-12">
        <div id="image-wrapper" class="image-wrapper" v-bind:class="viewerClasses">
            <img id="image" v-bind:src="sample.image.src" v-bind:style="viewerImgStyles">
            <div class="framebox zoomin" v-show="viewer.zoomframe.show" v-bind:style="viewerZoomFrameStyles"></div>
            <div v-for="markitem in sample.marks" class="framebox mark" v-bind:style="viewerMarkBoxStyles(markitem)"></div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var vue = new Vue({
    el: "#app",
    data: {
        setname: undefined,
        statistics: {
            marked: 0,
            total: 0
        },
        sample: {
            title: "G7 / 2018-08-28 20",
            image: (function (src) { var img = new Image(); img.src = src; return img })("/static/runtime/sample.jpg"),
            marks: [
                { type: "target", x: 1652, y: 2013, width: 224, height: 120 },
                { type: "target", x: 3557, y: 1525, width: 200, height: 128 },
                { type: "target", x: 3757, y: 1485, width: 200, height: 128 },
                { type: "target", x: 4741, y: 2005, width: 184, height: 192 },
                { type: "target", x: 4341, y: 1932, width: 112, height: 160 },
                { type: "target", x: 3637, y: 3549, width: 144, height: 176 },
                { type: "target", x: 4477, y: 4885, width: 176, height: 176 },
                { type: "target", x: 4341, y: 5445, width: 160, height: 136 },
                { type: "target", x: 2109, y: 4333, width: 208, height: 104 },
                { type: "target", x: 4653, y: 5573, width: 216, height: 112 },
                { type: "target", x: 5397, y: 3557, width: 128, height: 184 },
                { type: "target", x: 1444, y: 5101, width: 128, height: 160 },
                { type: "mistake", x: 2645, y: 1117, width: 104, height: 120 },
                { type: "mistake", x: 2765, y: 1181, width: 104, height: 120 },
                { type: "mistake", x: 2733, y: 933, width: 88, height: 88 },
                { type: "mistake", x: 3389, y: 1045, width: 168, height: 120 },
                { type: "mistake", x: 2701, y: 2557, width: 96, height: 136 },
                { type: "mistake", x: 3309, y: 3093, width: 128, height: 128 },
                { type: "mistake", x: 4381, y: 3397, width: 120, height: 120 },
                { type: "mistake", x: 4437, y: 5029, width: 104, height: 176 },
                { type: "mistake", x: 908, y: 4141, width: 128, height: 104 },
                { type: "mistake", x: 932, y: 4245, width: 136, height: 88 },
                { type: "mistake", x: 1316, y: 2669, width: 80, height: 104 },
                { type: "mistake", x: 1484, y: 2509, width: 80, height: 120 },
                { type: "mistake", x: 1412, y: 2669, width: 104, height: 104 },
                { type: "mistake", x: 1452, y: 2773, width: 104, height: 64 },
                { type: "mistake", x: 1572, y: 2653, width: 72, height: 56 },
                { type: "mistake", x: 1596, y: 2733, width: 88, height: 56 },
                { type: "mistake", x: 1300, y: 2901, width: 88, height: 80 },
                { type: "mistake", x: 1332, y: 2829, width: 72, height: 64 },
                { type: "mistake", x: 2005, y: 3421, width: 96, height: 104 },
                { type: "mistake", x: 4533, y: 4893, width: 104, height: 112 },
                { type: "mistake", x: 3013, y: 3885, width: 96, height: 96 },
                { type: "mistake", x: 2301, y: 5965, width: 112, height: 120 }
            ]
        },
        viewer: {
            mode: null,
            pressed: false,
            pressmoved: false,
            presspos: { x: 0, y: 0 },
            imagerect: { x: 0, y: 0, width: 0, height: 0 },
            imagepresspos: { x: 0, y: 0 },
            zoomframe: { show: false, x: 0, y: 0, width: 0, height: 0 }
        }
    },
    methods: {
        percent: function (val, total) {
            return val / total * 100 + "%";
        },
        clearMouse: function () {
            this.viewer.pressed = false;
            this.viewer.pressmoved = false;
            this.viewer.zoomframe.show = false;
        },
        toggleMode: function (modename) {
            if (this.viewer.mode == modename) {
                this.viewer.mode = null;
                this.clearMouse();
            } else {
                this.viewer.mode = modename;
                this.clearMouse();
            }
        },
        viewerMarkBoxStyles: function (markitem) {
            var s = this.viewer.imagerect.width / this.sample.image.width;
            var imw = this.viewer.imagerect.width;
            var imh = this.viewer.imagerect.height;
            var imx = this.viewer.imagerect.x;
            var imy = this.viewer.imagerect.y;
            var mx = markitem.x * s + imx;
            var my = markitem.y * s + imy;
            var mw = markitem.width * s;
            var mh = markitem.height * s;
            // console.log(this.viewer.imagerect.width, this.sample.image.width, s, markitem.x, mx);
            var colorscheme = {
                "target": "#0066FF",
                "mistake": "#FF0000",
                "blank": "#FF9933"
            };
            if (!(markitem.type in colorscheme)) return { "display": "none" };
            return {
                borderColor: colorscheme[markitem.type],
                left: mx,
                top: my,
                width: mw,
                height: mh
            };
        }
    },
    computed: {
        viewerClasses: function () {
            var that = this;
            return {
                zoomout: that.viewer.mode == "zoomout",
                zoomin: that.viewer.mode == "zoomin",
                pan: that.viewer.mode == "pan",
                marking: that.viewer.mode == "mark",
                pressed: that.viewer.pressed,
                mark_select: true,
                mark_place: false
            }
        },
        viewerImgStyles: function () {
            var that = this;
            console.log(this.viewer.imagerect.width, this.sample.image.width);
            return {
                width: that.viewer.imagerect.width + "px",
                height: that.viewer.imagerect.height + "px",
                left: that.viewer.imagerect.x + "px",
                top: that.viewer.imagerect.y + "px"
            };
        },
        viewerZoomFrameStyles: function () {
            var that = this;
            return {
                width: that.viewer.zoomframe.width + "px",
                height: that.viewer.zoomframe.height + "px",
                left: that.viewer.zoomframe.x + "px",
                top: that.viewer.zoomframe.y + "px"
            };
        }
    },
    created: function () {
        var that = this;
        this.setname = window.location.query.setname;
        // $.get('/api/marking/statistics?setname=' + this.setname, function(data) {
        //     data = data.data;
        //     that.statistics.marked = data.marked;
        //     that.statistics.total = data.total;
        //     status_loading(false);
        // });
        status_loading(false);
    }
});
$(function () {
    $(".image-wrapper img").on('mousedown', function(event) {
        event.preventDefault();
    });
    $(".image-wrapper").on('mousedown', function(event) {
        vue.viewer.pressed = true;
        vue.viewer.pressmoved = false;
        vue.viewer.presspos.x = event.clientX;
        vue.viewer.presspos.y = event.clientY;
        vue.viewer.imagepresspos.x = vue.viewer.imagerect.x;
        vue.viewer.imagepresspos.y = vue.viewer.imagerect.y;
    });
    $(".image-wrapper").on('mousemove', function(event) {
        if (vue.viewer.pressed) vue.viewer.pressmoved = true;
        if (vue.viewer.mode == "pan") {
            if (vue.viewer.pressed) {
                var d = {};
                d.x = event.clientX - vue.viewer.presspos.x;
                d.y = event.clientY - vue.viewer.presspos.y;
                vue.viewer.imagerect.x = vue.viewer.imagepresspos.x + d.x;
                vue.viewer.imagerect.y = vue.viewer.imagepresspos.y + d.y;
            }
        } else if (vue.viewer.mode == "zoomin") {
            if (vue.viewer.pressed) {
                var wrapper = $("#image-wrapper");
                var wrapperpos = wrapper.offset();
                var wrapperx = wrapperpos.left - $(window).scrollLeft();
                var wrappery = wrapperpos.top - $(window).scrollTop();
                var fx = vue.viewer.presspos.x;
                var fy = vue.viewer.presspos.y;
                var fw = event.clientX - fx;
                var fh = event.clientY - fy;
                fx -= wrapperx;
                fy -= wrappery;
                if (fw < 0) { fx = fx + fw; fw = -fw; }
                if (fh < 0) { fy = fy + fh; fh = -fh; }
                vue.viewer.zoomframe.x = fx;
                vue.viewer.zoomframe.y = fy;
                vue.viewer.zoomframe.width = fw;
                vue.viewer.zoomframe.height = fh;
                vue.viewer.zoomframe.show = true;
            }
        }
    });
    $(document).on('mouseup', function(event) {
        vue.clearMouse();
    });
    var clickcount = 0;
    var clicktimer = undefined;
    $(".image-wrapper").on('mouseup', function(event) {
        // ------------------------------
        // remember the click for 800ms (to detect the continuesly clicking)
        clickcount += 1;
        if (clicktimer !== undefined) clearTimeout(clicktimer);
        setTimeout(function () {
            clickcount = 0;
        }, 500);
        // ------------------------------
        var wrapper = $("#image-wrapper");
        function clickZoom(event) {
            // clicking zoom in/out
            var s = (vue.viewer.mode == "zoomout") ? 0.8 : 1.25;
            var wrapperpos = wrapper.offset();
            var wrapperx = wrapperpos.left - $(window).scrollLeft();
            var wrappery = wrapperpos.top - $(window).scrollTop();
            var mx = event.clientX - wrapperx;
            var my = event.clientY - wrappery;
            var imw = vue.viewer.imagerect.width;
            var imh = vue.viewer.imagerect.height;
            var imx = vue.viewer.imagerect.x;
            var imy = vue.viewer.imagerect.y;
            var cw = wrapper.width();
            var ch = wrapper.height();
            var ox = mx - imx;
            var oy = my - imy;
            var nx = mx - ox * s;
            var ny = my - oy * s;
            var nw = imw * s;
            var nh = imh * s;
            if (nw < cw && nh < ch) return resetZoom(event);
            if (nw < cw) nx = (cw - nw) / 2;
            if (nh < ch) ny = (ch - nh) / 2;
            vue.viewer.imagerect.width = nw;
            vue.viewer.imagerect.height = nh;
            vue.viewer.imagerect.x = nx;
            vue.viewer.imagerect.y = ny;
            return true;
        }
        function resetZoom(event) {
            // zoom to fit size
            var imw = vue.sample.image.width;
            var imh = vue.sample.image.height;
            var cw = wrapper.width();
            var ch = wrapper.height();
            var s = Math.min(cw / imw, ch / imh);
            var nw = imw * s;
            var nh = imh * s;
            var nx = (cw - nw) / 2;
            var ny = (ch - nh) / 2;
            vue.viewer.imagerect.width = nw;
            vue.viewer.imagerect.height = nh;
            vue.viewer.imagerect.x = nx;
            vue.viewer.imagerect.y = ny;
            return true;
        }
        function frameZoom(event) {
            // frame zoom in
            var wrapperpos = wrapper.offset();
            var wrapperx = wrapperpos.left - $(window).scrollLeft();
            var wrappery = wrapperpos.top - $(window).scrollTop();
            var cw = wrapper.width();
            var ch = wrapper.height();
            var fx = vue.viewer.presspos.x;
            var fy = vue.viewer.presspos.y;
            var fw = event.clientX - fx;
            var fh = event.clientY - fy;
            if (fw < 10 || fh < 10) return clickZoom(event);
            fx -= wrapperx;
            fy -= wrappery;
            if (fw < 0) { fx = fx + fw; fw = -fw; }
            if (fh < 0) { fy = fy + fh; fh = -fh; }
            var s = Math.max(fw / cw, fh / ch);
            var rfw = cw * s;
            var rfh = ch * s;
            fx -= (rfw - fw) / 2;
            fy -= (rfh - fh) / 2;
            var imw = vue.viewer.imagerect.width;
            var imh = vue.viewer.imagerect.height;
            var imx = vue.viewer.imagerect.x;
            var imy = vue.viewer.imagerect.y;
            var cw = wrapper.width();
            var ch = wrapper.height();
            var ox = fx - imx;
            var oy = fy - imy;
            var nw = imw / s;
            var nh = imh / s;
            var nx = - ox / s;
            var ny = - oy / s;
            if (nw < cw && nh < ch) return resetZoom(event);
            if (nw < cw) nx = (cw - nw) / 2;
            if (nh < ch) ny = (ch - nh) / 2;
            vue.viewer.imagerect.width = nw;
            vue.viewer.imagerect.height = nh;
            vue.viewer.imagerect.x = nx;
            vue.viewer.imagerect.y = ny;
            return true;
        }
        if (vue.viewer.mode == "zoomout" && clickcount >= 3) {
            resetZoom(event);
        } else if (vue.viewer.mode == "zoomin" && vue.viewer.pressmoved) {
            frameZoom(event);
        } else if (vue.viewer.mode == "zoomout" || vue.viewer.mode == "zoomin") {
            clickZoom(event);
        }
    });
});
</script>
{% endblock %}
